@import "variables";

.home {
  .top-row {
    text-align: center
  }
  .sub-heading {
    border-bottom: 1px solid grey;
    display: inline-block;
    margin-top: 0;
    letter-spacing: 4px;
  }
  .phone-number {
    font: 4rem $font-body;
    font-style: italic;
    letter-spacing: 3px;
    // font-size: 4rem;
  }
  .address {
    font-size: 2rem;
    letter-spacing: 3px;
  }
  .address-secondary {
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-style: italic;
  }

  .parallax-container {
    width: 100%;
  }

  .parallax-container-1 {
    height: 420px !important;
  }

  .parallax-container-2 {
    height: 570px !important;
  }

  .parallax-hr {
    height: 60px !important;
  }

  .copy-text {
    font-size: 3rem;
  }
  .copy-subtext {
    font-size: 2.3rem;
    font-style: italic;
  }
  .flow-text {
    text-align: justify;
  }


}
