// $font-stack: Helvetica, sans-serif;

@import "variables";

body {
  font: 100% $font-body;
  background-color: $color-background;
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font: 100% $font-heading;
  letter-spacing: 3px;
}

h1 {
  font-size: 5rem !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: inherit;
}

.input-field label {
  left: 0 !important;
}

p {
  // font-size: 2em;
  letter-spacing: 2px;
  line-height: 1.7em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

// Required by ui-bootstrap
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
