<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>A1 Sewing Machine & Vacuum Center</title>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/lib/Materialize/dist/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/Materialize/dist/css/materialize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Tangerine|Droid+Sans|Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/style.css'>

  </head>
  <body>


    <ul id="about-us-dropdown" class="dropdown-content">
      <li><a href="#!">Our Location</a></li>
      <li><a href="#!">Contact Us</a></li>
    </ul>

    <ul id="classes-dropdown" class="dropdown-content">
      <li><a href="#!">Beginning Quilting</a></li>
      <li><a href="#!">Beginning Sewing</a></li>
      <li><a href="#!">Clubs</a></li>
      <li><a href="#!">Owners Classes</a></li>
      <li><a href="#!">Private Lessons</a></li>
      <li><a href="#!">Teachers</a></li>
    </ul>


    <nav class="z-depth-2">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">A1 Sewing</a>
        <ul id="nav-mobile" class="hide-on-med-and-down right">
          <li>
            <a class="dropdown-button" href="#!" data-activates="about-us-dropdown">
              About Us
            </a>
          </li>
          <li>
            <a class="dropdown-button" href="#!" data-activates="classes-dropdown">
              Classes
            </a>
          </li>
          <li><a href="#">Repair Service</a></li>
          <li><a href="#">Newsletter</a></li>
        </ul>
      </div>
    </nav>

    <main ui-view></main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>


  <script src="script.js"></script>
  </body>
</html>
