<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>A1 Sewing Machine & Vacuum Center</title>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/lib/Materialize/dist/js/materialize.min.js"></script>
    <script src="/lib/angular-ui-bootstrap/ui-bootstrap-tpls-0.13.4.min.js"></script>
    <script src="/lib/moment/min/moment.min.js"></script>
    <script src="/lib/ngDialog/js/ngDialog.min.js"></script>
    <script src="/lib/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/Materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/lib/ngDialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="/lib/ngDialog/css/ngDialog-theme-plain.css">
    <link rel="stylesheet" href="/lib/sweetalert/dist/sweetalert.css">
    <link href='https://fonts.googleapis.com/css?family=Tangerine|Droid+Sans|Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/style.css'>
  </head>
  <body>


    <ul id="about-us-dropdown" class="dropdown-content">
      <li><a href="#!">Our Location</a></li>
      <li><a href="#!">Contact Us</a></li>
    </ul>

    <ul id="classes-dropdown" class="dropdown-content">
      <li><a ui-sref="classes">Schedule</a></li>
      <li class="divider"></li>
      <li><a href="#!">Beginning Quilting</a></li>
      <li><a href="#!">Beginning Sewing</a></li>
      <li><a href="#!">Owners Classes</a></li>
      <li><a href="#!">Private Lessons</a></li>
      <li><a href="#!">Teachers</a></li>
    </ul>


    <nav class="z-depth-2">
      <div class="nav-wrapper">
        <a ui-sref="home" class="brand-logo">A1 Sewing</a>
        <ul id="nav-mobile" class="hide-on-med-and-down right">
          <li>
            <a class="dropdown-button" href="#!" data-activates="about-us-dropdown">
              About Us
            </a>
          </li>
          <li>
            <a class="dropdown-button" href="#!" data-activates="classes-dropdown">
              Classes
            </a>
          </li>
          <li><a href="#">Repair Service</a></li>
          <li><a href="#">Newsletter</a></li>
        </ul>
      </div>
    </nav>

    <main ui-view></main>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2015 A1 Sewing
        </div>
      </div>
    </footer>


  <script src="script.js"></script>
  </body>
</html>
