<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%= title %></title>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/lib/Materialize/dist/js/materialize.min.js"></script>
    <!-- <link rel="stylesheet" href="/lib/Materialize/dist/css/materialize.min.css"> -->
    <link rel='stylesheet' href='/style.css'>

  </head>
  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
      </div>
    </nav>


    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div ui-view></div>


  <script src="script.js"></script>

  </body>
</html>
