<div class="container">
  <div class="row">
    <div class="col s12">
      <!-- <p class="flow-text">{{classes}}</p> -->
      <br><br>
      <div ng-repeat="class in classes">
        <h2>{{class.type}} - {{class.date}}</h2>
        <table>
          <caption>Already Paid</caption>
          <thead>
            <tr>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tr ng-repeat="student in class.attendingPaid">
            <td>
              {{student.lastName}}
            </td>
            <td>
              {{student.firstName}}
            </td>
            <td>
              {{student.email}}
            </td>
          </tr>
        </table>

        <table>
          <caption>Not Yet Paid</caption>
          <thead>
            <tr>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tr ng-repeat="student in class.attendingNotPaid">
            <td>
              {{student.lastName}}
            </td>
            <td>
              {{student.firstName}}
            </td>
            <td>
              {{student.email}}
            </td>
          </tr>
        </table>

      </div>

    </div>
  </div>
</div>
