<div class="container">
  <div class="row">
    <div class="col s12">
      <!-- <p class="flow-text">{{classes}}</p> -->
      <br><br>
      <div ng-repeat="class in classes | orderBy: 'date'">
        <h2 ng-show="class.attendingPaid.length || class.attendingNotPaid.length">{{class.type}} - {{class.date}}</h2>
        <table class="admin" ng-show="class.attendingPaid.length">
          <caption>Already Paid</caption>
          <thead>
            <tr>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tr ng-repeat="user in class.attendingPaid">
            <td>
              {{user.lastName}}
            </td>
            <td>
              {{user.firstName}}
            </td>
            <td>
              {{user.email}}
            </td>
          </tr>
        </table>

        <table class="admin" ng-show="class.attendingNotPaid.length">
          <caption>Not Yet Paid</caption>
          <thead>
            <tr>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Email</th>

            </tr>
          </thead>
          <tr ng-repeat="user in class.attendingNotPaid">
            <td>
              {{user.lastName}}
            </td>
            <td>
              {{user.firstName}}
            </td>
            <td>
              {{user.email}}
            </td>
            <td>
              <button class="btn" ng-click="userIsNowPaid(user, class)">paid</button>
            </td>
          </tr>
        </table>

      </div>

    </div>
  </div>
</div>
