<div class="home">
  <div class="row top-row">
    <div class="parallax-container parallax-container-1">
      <div class="parallax"><img src="img/fabric.jpg"></div>
      <br><br>
      <h1 class="center">A1 Sewing Machine & Vacuum Center, Inc.</h1>
      <br>
      <h2 class="center sub-heading">Family Owned & Operated Since 1965</h2>
      <div class="phone-number">352-371-9464</div>

    </div>
  </div>

  <div class="container">
    <br><br>
    <div class="row">
      <div class="col s12 m6">
        <div class="center">
          <i class="material-icons medium">build</i><br><br>
          <h2 class="sub-heading">Repairs</h2>
        </div>
        <p class="flow-text">
          We provide free estimates, and service all makes & models.
          A lot of knowledge and experience goes into fixing sewing machines.
          We specialize in home sewing machines, embroidery machines, and sergers.
        </p>
      </div>
      <div class="col s12 m6">
        <div class="center">
          <i class="material-icons medium">class</i><br><br>
          <h2 class="sub-heading">Classes & Clubs</h2>
        </div>
        <p class="flow-text">
          Join us for range of classes and clubs to help you improve on your skills
          and meet new friends.  Classes include
          Beginning Quilting, Beginning Sewing, and Machine Ownership.
          We also offer private lessons.
        </p>
      </div>
    </div>
    <br>
    <br>
  </div>

  <div class="parallax-container parallax-hr">
    <div class="parallax"><img src="img/fabric.jpg"></div>
  </div>

  <div class="container">
    <br><br><br><br>
    <div class="row">
      <div class="col s6">
        <img src="img/husqvarna.jpg" class="responsive-img" alt="">
      </div>
      <div class="col s6">
        <img src="img/miele.png" class="responsive-img miele" alt="">
      </div>
      <div class="col s12 center">
        <br><br>
        <div class="copy-subtext">We are proud to be official dealers of</div>
        <br>
        <div class="copy-text">Husqvarna Viking Sewing Machines</div>
        <h2>&</h2>
        <div class="copy-text">Miele Vacuum Cleaners</div>
      </div>
    </div>
    <br><br><br>
  </div>

  <div class="parallax-container parallax-container-2">
    <div class="parallax"><img src="img/outside1.png"></div>
    <div class="container">
      <div class="row">
        <div class="col s12 m7">
          <br><br><br>
          <div class="card-panel grey lighten-2 z-depth-5">
            <div class="address">
              2441 NW 43rd St. <br>
              Suite 22 <br>
              Thornebrook Village<br>
              Gainesville, FL 32606
            </div>

            <div class="address-secondary">
              <h4>Open</h4>
              Monday - Friday, 9:00 - 5:00 <br>
              Saturday, 9:00 - 1:00 <br>
              Closed on Sunday <br>
              <hr>
              Across The Street From Zaxby's
              <br>
              In Thornebrook Village:
              <br>
              Look For The American Flag
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
