<div class="home">
  <div class="row top-row">
    <div class="parallax-container parallax-container-1">
      <div class="parallax"><img src="img/fabric.jpg"></div>
      <br><br>
      <h1 class="center">A1 Sewing Machine & Vacuum Center, Inc.</h1>
      <br>
      <h2 class="center sub-heading">Family Owned & Operated Since 1965</h2>
      <div class="phone-number">352-371-9464</div>

    </div>
  </div>

  <div class="container">

    <div class="row">

    </div>


    <br><br>
    <p class="flow-text">
      2441 NW 43rd St.  Suite 22-
      Thornebrook Village Gainesville, FL 32606

      Across The Street From Zaxby's
      In Thornebrook Village -
      Look For The American Flag
      Husqvarna Viking Dealer
      Miele Vacuum Cleaner Dealer
      Sewing Machine, Vacuum Cleaner, &
      Amish Heater Repair
      Classes On Sewing & Quilting
      Custom Embroidery & Long arm Quilting
    </p>
  </div>

  <div class="parallax-container parallax-container-1">
    <div class="parallax"><img src="img/outside1.png"></div>
    <div class="container">
      <div class="row">
        <div class="col s12 m7">
          <br><br><br>
          <div class="card-panel grey lighten-2 z-depth-5">
            <div class="address">
              2441 NW 43rd St. <br>
              Suite 22- Thornebrook Village<br>
              Gainesville, FL 32606
            </div>

            <br>
            <div class="address-secondary">
              Across The Street From Zaxby's
              <br>
              In Thornebrook Village:
              <br>
              Look For The American Flag
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
