<div class="home">
  <div class="row top-row">
    <div class="parallax-container parallax-container-1">
      <div class="parallax"><img src="img/fabric.jpg"></div>
      <br><br>
      <h1 class="center">A1 Sewing Machine & Vacuum Center, Inc.</h1>
      <br>
      <h2 class="center sub-heading">Family Owned & Operated Since 1965</h2>
      <div class="phone-number">352-371-9464</div>

    </div>
  </div>

  <div class="container">
    <br><br>
    <div class="row">
      <div class="col s12 m6">
        <div class="center">
          <i class="material-icons medium">build</i><br><br>
          <h2 class="sub-heading">Repairs</h2>
        </div>
        <p class="flow-text">
          We provide free estimates, and service all makes & models.
          A lot of knowledge and experience goes into fixing sewing machines.
          We specialize in home sewing machines, embroidery machines, and sergers.
        </p>
      </div>
      <div class="col s12 m6">
        <div class="center">
          <i class="material-icons medium">class</i><br><br>
          <h2 class="sub-heading">Classes</h2>
        </div>
        <p class="flow-text">
          Join us for range of classes to help you improve on your skills
          and meet new friends.  Classes include
          Beginning Quilting, Beginning Sewing, and Machine Ownership.
          We also offer private lessons.
        </p>
      </div>
    </div>
    <br>
    <br>
  </div>

  <div class="parallax-container parallax-hr">
    <div class="parallax"><img src="img/fabric.jpg"></div>
  </div>

  <div class="container">
    <br><br><br><br>
    <div class="row">
      <div class="col s6">
        <img src="img/husqvarna.jpg" class="responsive-img" alt="">
      </div>
      <div class="col s6">
        <img src="img/miele.png" class="responsive-img miele" alt="">
      </div>
      <div class="col s12 center">
        <br><br>
        <div class="copy-subtext">We are proud to be official dealers of</div>
        <br>
        <div class="copy-text">Husqvarna Viking Sewing Machines</div>
        <h2>&</h2>
        <div class="copy-text">Miele Vacuum Cleaners</div>
      </div>
    </div>
    <br><br><br>
  </div>

  <div class="parallax-container parallax-container-2">
    <div class="parallax"><img src="img/outside1.png"></div>
    <div class="container">
      <div class="row">
        <div class="col s12 m7">
          <br><br>
          <div class="card-panel grey lighten-2 z-depth-5">
            <div class="address">
              2441 NW 43rd St. <br>
              Suite 22 <br>
              Thornebrook Village<br>
              Gainesville, FL 32606
            </div>

            <div class="address-secondary">
              <h4>Open</h4>
              Monday - Friday, 9:00 - 5:00 <br>
              Saturday, 9:00 - 1:00 <br>
              Closed on Sunday <br>
              <hr>
              Across The Street From Zaxby's
              <br>
              In Thornebrook Village:
              <br>
              Look For The American Flag
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="center">
          <br><br><br>
          <h2 class="sub-heading">Upcoming Events</h2>
          <div class="event-title center">QUILT & BLUEGRASS FESTIVAL</div>
          <h2 class="center"> November 21, 2015 10am - 5pm</h2>
        </div>
          <h2 class="center">What:</h2>
          <p class="flow-text">
            A one-day festival celebrating the art of quilting and the art of Bluegrass on the beautiful grounds of Thornebrook Village
          </p>
          <h2 class="center">Where:</h2>
          <p class="flow-text">
            Thornebrook Village, 2441 NW 43rd Street, Gainesville, FL
          </p>
          <h2 class="center">When:</h2>
          <p class="flow-text">
            Saturday, November 21, 2015 10 am – 5 pm <br>
            Quilt exhibit 10am – 4pm <br>
            Bluegrass from 10am - 5pm <br>
          </p>
          <div class="contact center">Contact: Lyn White, Director <a href="mailto:">lynwhite@bellsouth.net</a> 352-682-2662</div>
          Thornebrook Village, the Quilters of Alachua County Day Guild and the Tree City Quilters’ Guild have
          put together a wonderfully delightful day for all to enjoy the bright colors and designs of quilting with Bluegrass music playing in the background. Stroll through the tree-shaded beauty of Thornebrook Village looking at the quilts, grab a bite to eat at the restaurants, gaze in the shops, and stop and listen to great local music in the stage area. Quilts from the many quilters of Alachua County and surrounding counties will be shown with some for sale. The local quilt guilds will provide
          “white glove”
          services for those wishing to take a closer look at a quilt to better understand the types and techniques involved in making a quilt and what constitutes a quilt. Local Bluegrass bands gathered by Bill Hutchinson will provide shoe-tapping enjoyment: 10am -
          Wayfarin’ Strangers, 11am –
          Patchwork, 12 noon -
          Wayfarin’
          Strangers, 1pm
          –
          Patchwork, 2pm -
          Wayfarin’ Strangers, 3pm
          - Boulware Family Band, 4pm - Accidental Cowboys, 5pm - Boulware Family Band.
          Come and join us for a day of fun, art and entertainment!

        </p>
      </div>
    </div>
  </div>


</div>
