<div class="container">
  <div class="row">
    <h3>Beginning Quilting</h3>

    <p class="flow-text">
      In Beginning Quilting classes, those of you who have never quilted can learn the basics.  Proper rotary cutting, how to get perfect quarter inch seams, proper pressing, and matching up cross seams will be covered.
     Bring your own machine that is in good working order and know how to thread it and wind bobbins beforehand.  Knowing your machine is the first step to success in any class.  You can get this information by taking a private lesson.
    Bring basic sewing supplies like scissors, pins, seam ripper, and everything listed on the supply list.  If you are unsure about anything, ask someone who works here ahead of time.  We all sew!
    </p>

  </div>
</div>
