<div class="container">
  <div class="row">
    <h3>Beginning Sewing</h3>

    <p class="flow-text">
      Those of you who are new to sewing can take these classes to learn the basics of garment construction.  The instructor uses our popular Kids Camp format for the adults.  By allowing everyone to chose their own patterns and projects to work on, rather than making the whole class stay together, everyone is much happier.  Working at your own pace, you will learn how to read the pattern and accomplish each task toward the completion of your project.  You take as many sessions as you require to complete your project.  Then you may start another!  Beginning Sewing classes have no start or end.  You can join anytime and keep coming as long as you want.
      Bring a pattern of your choice that says "1 hour" or "2 hour" or easy, and everything it lists under "Notions" on the back as well as the fabric that is required.
      Bring your own machine that is in good working order and know how to thread it and wind bobbins beforehand.  Knowing your machine is the first step to success in any class.  You can get this information by taking a private lesson.
      Bring basic sewing supplies like scissors, pins, seam ripper, and everything listed on the supply list.  If you are unsure about anything, ask someone who works here ahead of time.  We all sew!  See our current newsletter for the dates and times.
    </p>
  </div>
</div>
